:root {
  --max-width: 1028px;

  --nav-level-1-bg: #080909;
  --nav-level-1-text: #fff;

  --button-blue: #10afff;
  --bg-main: #ade4ff;

  --hc-blue: rgb(8, 8, 8);
  --dark-blue: rgb(9, 9, 9);
  --selected-option: #19191a;
  --main-blue: rgb(34, 35, 35);
  --bold-blue: #c2c3c4; /*  #08f; */
  --lighter-blue: #909293;
  --pale-blue-0: #dbdddf;
  --pale-blue-1: #e7f7ff;
  --faint-blue: #fbfeff;

  --old-stuff: #fdfaef;

  --result: #ffd;
  --bg-pale-warning: #fffff8;

  --bg-dark: #1f2937;
  --bg-dark-gray: #374151;
  --bg-dark-border-black: #15171b;
  --bg-light: #def;
  --bg-pale: #e7fcff;
  --black: #000;
  --white: #fff;
  /* --blue: #3B82F6; */
  --gray: rgb(75, 85, 99); /* #4b5562;? */
  --medium-gray: #777;

  --light-gray: rgb(203, 213, 225); /* #CBD5E1 */
  --gray90: #e5e5e5;
  --gray95: #f2f2f2;
  --lighter-gray: #f1f5f9;

  --border-base: 1px solid var(--main-blue);
  --border-dotted: 1px dotted var(--main-blue);
  --border-dotted-thick: 4px dotted var(--main-blue);
  --border-total: 1px solid black;
  --border-gray: 1px solid var(--light-gray);
  --border-cell: 1px solid var(--medium-gray);

  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-clickable: 0 1px 3px 0 rgb(0 0 0 / 0.5);
  --shadow-hover: 0 1px 3px 0 rgb(0 80 120 / 1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  --screen-tiny: 470px;
  --screen-sm: 675px;
  --screen-md: 1024px;
  --screen-lg: 1280px;
  --screen-xl: 1600px;
}

/* Initial section adapted from:
modern-normalize v1.1.0 | MIT License
https://github.com/sindresorhus/modern-normalize */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
}

/*
hr {
  height: 0;
  color: inherit;
}
 */

abbr[title] {
  text-decoration: underline dotted;
}

b,
dt,
strong {
  font-weight: bolder;
}

dt {
  color: var(--hc-blue);
}

h1,
h2,
h3,
h4 {
  color: var(--hc-blue);
  text-align: center;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
summary {
  display: list-item;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* END modern-normalize v1.1.0 (adapted) */

/* Home page styles: */

a {
  color: var(--main-blue);
  text-decoration: none;
}

a.external,
a[target="_blank"] {
  color: var(--hc-blue);
  background-color: var(--pale-blue-1);
  border-top: var(--border-gray);
}

a:hover {
  text-decoration: underline;
}

/* Make links which open a new window look distinct when selected/hovered */

a.external:hover,
a.external:focus-visible,
a[target="_blank"]:hover,
a[target="_blank"]:focus-visible {
  background-color: var(--pale-blue-0);
  border-top: var(--border-dotted);
}

body {
  padding: 0 0;
  background-color: var(--faint-blue);
}

p {
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

.indented {
  margin-left: 5%;
}

.smol-css-grid,
.g-buttons {
  --min: 20ch;
  --gap: 1.5rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.donatebutton,
.sponsor-button {
  padding: 0.3em;
  text-align: center;
  line-height: 1.5em;
  box-shadow: var(--shadow);
}

.donatebutton {
  background-color: black;
  color: white;
  border-radius: 0.75em;
  /* 
min-width: 9em;
 */
  min-height: 3em;
  max-width: 20em;
  padding-inline: 1em;
}

.donatebutton:hover,
.sponsor-button:hover,
.donatebutton:focus-visible,
.sponsor-button:focus-visible {
  box-shadow: var(--shadow-hover);
  cursor: pointer;
  /* override '_blank' styles for these buttons: */
  /* background-color: inherit; */
  border: none;
}

.sponsor-button {
  background-color: white;
  color: black;
  border-radius: 0.3em;
  border: darkgray 1px solid;
  /*   font-weight: bold; */
  display: flex;
  place-items: center;
  place-content: center;
}

.sponsor-button.ph,
.sponsor-button.ph > a {
  font-style: italic;
  color: var(--medium-gray);
}

.silver .sponsor-button {
  font-weight: bold;
  min-width: 200px;
  min-height: 100px;
}

.gold .sponsor-button {
  font-weight: bold;
  min-width: 300px;
  min-height: 150px;
}

.plain .sponsor-button {
  min-width: 10em;
}

.f-buttons,
.sponsor-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  --gap: 1.5rem;
  gap: var(--gap);
  padding: 0.5em 1em;
  /*   --min: 20ch; */
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr)); */
}

.gold {
  background: linear-gradient(to bottom, #cfc09f 0%, #ffecb3 100%);
  border: var(--border-base);
  min-width: 28em;
  width: fit-content;
  margin-bottom: 1em;
}

.silver {
  background: linear-gradient(to bottom, #d7d7d8 0%, #e3e3e9 40%, #f4fdff 100%);
  /*   background: linear-gradient(to bottom, #e9f0f2 0%, #f4fdff 100%); */
  border: var(--border-base);
  min-width: 28em;
  width: fit-content;
  margin-bottom: 1em;
}

.plain {
  background-color: white;
  border: var(--border-base);
  width: fit-content;
  margin-bottom: 1em;
}

.past {
  background-color: #f4f4f4;
  border: var(--border-base);
  width: fit-content;
  margin-bottom: 1em;
}

.gold h3,
.silver h3,
.plain h3,
.older h3,
h4,
h5 {
  margin-bottom: 0.5em;
}

p.sponsor-note {
  font-size: smaller;
  font-style: italic;
  color: var(--hc-blue);
  text-align: center;
  padding-inline: 1em;
  margin-top: 0;
}

dfn {
  font-style: normal;
  border-bottom: 1px dashed;
}

.hs,
.hs-sm-vs,
.hs-md-vs {
  display: flex;
  flex-direction: row;
}

.vs,
.vs-sm-hs {
  display: flex;
  flex-direction: column;
}

.align-center,
.f-acenter {
  align-items: center;
}

.f-middle {
  align-items: center;
  justify-content: center;
}

.f-top {
  align-items: start;
}
.f-end {
  align-items: end;
}
.f-jcenter {
  justify-content: center;
}
.f-jend {
  justify-content: flex-end;
  align-items: baseline;
}

.f-spaced {
  align-items: center;
  justify-content: space-between;
}

.f-spaceevenly,
.f-evenly {
  justify-content: space-evenly;
}

.f-spacearound {
  justify-content: space-around;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-basis-fit {
  flex-basis: fit-content;
}
.f-basis-min {
  flex-basis: min-content;
}
.f-basis-max {
  flex-basis: max-content;
}

.f-self-ctr {
  place-self: center;
}
.w-min {
  width: min-content;
}
.w-fit {
  width: fit-content;
}

.innerbox {
  max-width: 50rem;
}

.mar-sm {
  margin: 0.3em;
}
.pad-sm {
  padding: 0.3em;
}

.f-gap {
  gap: 0.5em;
} /* .. */
.f-gap-lg {
  gap: 1em;
}

.f-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0.5em;
}

.glry_canvas {
  margin: 1em;
  padding: 0.8em 1em;
}

.glry-panel {
  padding: 0.5em 0.8em;
  place-self: stretch;
  background-color: var(--pale-blue-1);
  border: 1px solid var(--dark-blue);
  /* width: min-content; */
}

.manual-panel {
  margin: 0.5em;
  padding: 0.5em 0.8em;
  place-self: stretch;
  background-color: var(--pale-blue-1);
  border: 1px solid var(--dark-blue);
}

.manual-panel ul {
  padding-left: 1.5em;
}

.panel0 {
  margin: 0.5em;
  padding: 0.5em 0.8em;
  background-color: var(--pale-blue-1);
  border: 1px solid var(--dark-blue);
}

.panel0 h4 {
  margin-block: 0.5em;
}

.fit-width {
  width: fit-content;
}

.simple-panel {
  padding: 0.5em 0.8em;
  place-self: stretch;
  /*
  background-color: var(--pale-blue-1);
  border: 1px solid var(--dark-blue);
 */
  /* width: min-content; */
}

#manual_main h4 {
  margin: 1em 1em 0.5em;
}
.manual-row-odd {
  background-color: #fcfcfc;
}

.manual-row-even {
  background-color: #e8e8e8;
}

.manual-row-odd,
.manual-row-even {
  padding: 0.5em 1em;
}

#manual_main .manual-row-odd h4,
#manual_main .manual-row-even h4 {
  margin: 0.5em 0em;
}

.smallbox {
  min-width: 18rem;
  max-width: 24rem;
  margin: 0.5em;
}

.smallbox th {
  background-color: var(--light-gray);
}

.md-box {
  /* min-width: 18rem; */
  max-width: fit-content;
  margin: 0.5em;
}

.glry-panel h3 {
  margin-top: 0.5em;
}

.glry-panel h3 a {
  color: var(--hc-blue);
  text-decoration: underline dotted;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.2em;
}

.glry-panel h3 a:hover {
  color: var(--main-blue);
}

.glry-panel > div > p:first-child {
  margin-top: 0.2em;
}

.glry-panel div.txt,
.glry-panel div.f-img {
  margin: 0.6em 0.8em;
}

.example_img,
div.news_img figure img,
figure.news_img img,
#page.site .post-thumbnail img {
  border: var(--border-dotted);
  margin: 0.2em;
}

img.fitme,
div.fitme svg {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.try-link {
  display: inline-flex;
  padding: 0.5em 1em;
  background-color: var(--bg-main);
  border: 2px solid var(--button-blue);
  border-radius: 50px;
  font-weight: bold;
  box-shadow: var(--shadow);
  color: var(--black);
  white-space: nowrap;
}

.try-link:hover {
  text-decoration: none;
  background-color: var(--lighter-blue);
}

.try-link:active {
  background-color: var(--button-blue);
  color: var(--pale-blue-1);
}

.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}
.t-right,
.currency {
  text-align: right;
}
.balance {
  text-wrap: balance;
}
.nowrap {
  white-space: nowrap;
}
.big {
  font-size: larger;
}

.currency {
  /* font-variant-numeric: tabular-nums; */
  font-family: monospace;
  font-size: larger;
}

.total {
  border-top: var(--border-total);
}

.center {
  margin-inline: auto;
}

.formula-aside {
  color: var(--medium-gray);
  font-style: italic;
}

.skm_logo_small {
  vertical-align: middle;
  padding-bottom: 3px;
}

.fec-report th {
  text-align: left;
}
/*
.image-grid {
  display: grid;
  grid-gap: 0.5em; */
/* min() with 100% prevents overflow
  in extra narrow spaces */
/*   grid-template-columns: repeat(auto-fill, minmax(min(100%, 15ch), 400px)); */
/*   grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr)); */
/* } */

/* -- HEADER -- */

.header {
  width: 100%;
  padding: 12px 1em;
  background-color: var(--nav-level-1-bg);
}

.header__nav {
  max-width: var(--screen-lg);
  width: 100%;
  display: flex;
}

.header__logo {
  color: var(--nav-level-1-text);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.header__logo:hover {
  text-decoration: none;
}

.header__logo img {
  max-width: 80px;
  margin-right: 0.5em;
}

.header__links {
  list-style: none;
  padding: 0;
  margin: 0 1em;
  font-size: 1.1em;
}

.header__links a {
  color: var(--white);
  margin-left: 1.5em;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}

.header__links li:first-child a {
  margin-left: 0;
}

.header__links a:hover {
  text-decoration-color: var(--lighter-blue);
}

.header__links .try-link {
  display: inline-flex;
  padding: 0.5em 1em;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header__links .try-link:hover {
  text-decoration: none;
}

.header__links .try-link:active {
  color: var(--pale-blue-1);
}

/* -- HOME -- */

.home__intro {
  margin-top: 1em;
  /*   margin-bottom: 1em; */
  padding: 0;
}

.home__intro h1 {
  margin-top: 0;
  margin-bottom: 0.4em;
  font-size: 2.2em;
  font-family: Helvetica, Arial, sans-serif;
}
.home__intro h2 {
  margin-top: 0em;
  margin-bottom: 0.5em;
  font-size: 1.7em;
  font-family: Helvetica, Arial, sans-serif;
}

.home__intro .panel {
  margin: 1em;
  padding: 0 1em;
  background-color: var(--pale-blue-1);
  border: var(--border-base);
}

.home__intro .cta {
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.home__intro .cta span {
  font-size: 0.75em;
  margin-top: 0.5em;
  color: var(--gray);
}

.home__intro .try-link,
.final__cta .try-link {
  font-size: 1.7em;
  font-weight: 500;
}

/*
  background-color: var(--lighter-blue);
 */
.home__intro .try-link:active {
  background-color: var(--button-blue);
}

.home__intro--text,
.intro {
  text-align: center;
  padding: 0 1em;
}

.home__intro--text p,
.intro p {
  max-width: 800px;
  margin: 1em auto 0.5em;
  line-height: 1.4;
  font-size: 1.3em;
}

.home__intro--text li {
  font-size: 1.3em;
}

/* HOME INTRO END */

/* GENERIC PAGE */

.features_intro {
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0;
}

.features_intro h2 {
  margin-top: 0;
  font-size: 1.7em;
}

.features_intro--text {
  margin-bottom: 1em;
  text-align: center;
  padding: 0 1em;
}

.features_intro--text p {
  max-width: 930px;
  margin: 1em auto;
  line-height: 1.4;
  font-size: 1.2em;
}

.feature__panel {
  margin: 1em;
  padding: 0.8em 1em;
  background-color: var(--pale-blue-1);
  border: var(--border-base);
}

.final__cta {
  margin: 1em 0;
}

main {
  min-height: 50vh;
  width: 100%;
}

.datapage main {
  font-family: "Georgia", ui-serif, "Times New Roman";
}
.datapage h1 {
  margin-block-end: 0.4em;
}
.datapage h4 {
  margin-block: 0.2em;
}
.datapage hr {
  border-bottom: var(--border-dotted);
}
.datapage .glry-panel + .glry-panel {
  margin-block-start: 1em;
}
.buffet {
  max-width: 960px;
}

.category {
  background-color: var(--gray90);
  padding-block: 0.5em;
  margin-block: 0.3em;
}

.datapage main a {
  color: var(--hc-blue);
}
a.notes {
  text-decoration: underline;
}

.footer {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--lighter-gray);
  border-top: 1px dotted var(--main-blue);
}

.footer__inner {
  max-width: var(--screen-lg);
  width: 100%;
  padding: 1em;
}

.footer__content {
  font-size: 1.2em;
  max-width: var(--screen-sm);
}

.footer__nav {
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 1em;
  flex-shrink: 0;
}

.footer__nav ul {
  list-style: none;
  padding: 0;
  margin: 0 1em;
}

.footer__nav ul:last-child {
  margin-right: 0;
}

.footer__nav ul li {
  margin: 0 1em;
}

.footer__nav a,
.footer__inner a {
  color: var(--dark-blue);
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.1em;
}

.footer__nav a:hover,
.footer__inner a:hover {
  color: var(--black);
  text-decoration-color: var(--lighter-blue);
}

.shadow {
  box-shadow: var(--shadow-md);
}

.tall-lines {
  line-height: 1.7;
}

.ad_center {
  margin: 0.7em auto;
  padding-top: 0.5em;
  text-align: center;
  border-top: 1px dotted var(--main-blue);
}

.paras {
  max-width: 85%;
}
.max100 {
  max-width: 100%;
}

#news_main,
#manual_main,
#privacy_main {
  margin: 1em 2em;
  max-width: 960px; /* Almost --screen-md but not quite */
}

#manual_main h2 {
  margin-top: 0em;
}

#manual_main caption {
  background-color: var(--pale-blue-1);
  padding: 0.1em 0.2em;
  border: var(--border-base);
  margin-top: 0.4em;
  margin-bottom: 0.1em;
}

.null_value {
  color: var(--medium-gray);
  font-style: italic;
  font-size: smaller;
}

img.figure_right,
table.float_right,
div.float_right {
  float: right;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
}

#news_main ul li,
.top_padded {
  margin-top: 0.5em;
}

#news_main h2 {
  padding-top: 1em;
  border-top: 4px double var(--main-blue);
  clear: both;
}

#news_main h3 {
  padding-top: 0.8em;
  color: var(--dark-blue);
  border-top: var(--border-dotted);
  clear: both;
}

figure,
#news_main figure {
  margin: 0 1em 0.2em;
}

/* Sometimes a figure is vertically included rather than set to the side: */
#news_main figure.no_indent {
  margin: 0 0 0.2em;
}

#news_main figure img {
  padding: 0.1em;
  margin: 0.1em;
  border: var(--border-dotted);
}

#news_main figure img.no_border {
  border: none;
}

#news_main figcaption {
  font-size: smaller;
}

#news_main hr,
hr.ad_divider {
  border-top: 4px double var(--main-blue);
}

#news_main hr.section_sep {
  width: 40%;
  border-top: var(--border-dotted);
}

.privacy_topic,
.example_topic {
  color: var(--hc-blue);
  background-color: var(--lighter-gray);
  margin: 0em 0.2em 0.9em;
  padding: 0em;
  border-width: 0px 1px 1px 1px;
  border-color: var(--medium-gray);
  border-style: solid;
  /* border: 1px #9AC solid; */
  /*     min-height: 100%; */
}

.example_topic p {
  padding: 0.2em 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 125%;
}

.privacy_topic p {
  padding: 0.2em 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 125%;
}

/*
.example_topic .subheading {
  background-color: #ADF;
  font-size: larger;
  padding: 0.5em;
}
 */

.privacy_topic h2,
.example_topic h3 {
  /*    background-color: #036;
    color: white;*/
  border-bottom: var(--border-base);
  border-top: var(--border-base);
  /*
  border-bottom: 1px solid #036;
  border-top: 1px solid #AACCFF;
*/
  color: var(--hc-blue);
  background-color: var(--bg-light);
  font-size: larger;
  padding: 0.5em;
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.privacy_topic h3,
.privacy_topic h4 {
  padding-inline: 0.5em;
  margin-block-start: 1em;
  margin-block-end: 0em;
}

.privacy_topic ul,
.example_topic ul {
  margin-top: 0em;
  margin-right: 1em;
}

.example_topic ul > li > p {
  margin-top: 0em;
}

.cellname {
  color: #909;
}

.syntaxfragment {
  /*     padding: 4px; */
  background-color: #f9f9f9;
  border: 1px dotted #069;
}

.syntaxfragment i {
  border-bottom: 1px dotted;
}

.codefragment {
  padding: 4px;
  background-color: white;
  border: 1px dotted #999;
}

code.sankeymatic_code {
  padding: 0.2em 0.5em;
  border: var(--border-dotted);
  background-color: var(--faint-blue);
  color: var(--main-blue);
}

code.sankeymatic_sample,
p.sankeymatic_sample {
  padding: 0.2em 0.5em;
  border: var(--border-dotted);
  background-color: var(--pale-blue-1);
}

table.sampledata {
  border-collapse: collapse;
  background-color: white;
  color: black;
}
table.sampledata th {
  font-weight: bold;
  background-color: var(--gray90);
  padding: 2px 4px;
  border: var(--border-cell);
}
table.sampledata td {
  border: var(--border-cell);
  padding: 4px;
}
table.sampledata tr.r1 {
  background-color: white;
}
table.sampledata tr.r2 {
  background-color: var(--gray95);
}
table.sampledata .number {
  text-align: right;
}
table.sampledata .result {
  color: black;
  background-color: var(--result);
}

.topic-area {
  background-color: var(--pale-blue-1);
}

.privacy_topic a,
.example_topic a,
.topic-area a {
  color: var(--dark-blue);
}

.topic-area-header {
  background-color: var(--main-blue);
  color: white;
  place-self: stretch;
}

.topic-area-header h3 {
  margin: 0.5em;
  color: white;
}

.topic-area-contents {
  padding: 0.6em;
}

.topic-index {
  column-count: 2;
  column-gap: 1em;
  padding-top: 0px;
}

.topic-index ul {
  margin-top: 0em;
  margin-bottom: 0em;
  padding-left: 1.5em;
  padding-right: 1em;
}

.manual-header {
  background-color: var(--main-blue);
  color: white;
  padding: 0.5em;
  text-align: center;
}

.messages_area {
  padding: 0.4em;
  text-align: center;
  background-color: var(--bg-light);
  color: var(--hc-blue);
  border: var(--border-base);
}

.messages_area h4 {
  margin: 0 0 0.2em;
  text-decoration: underline;
}

.okmessage {
  background-color: var(--bg-light);
  width: fit-content;
  color: var(--hc-blue);
  border: var(--border-base);
  padding: 0.2em;
  margin: 0.1em;
}

p.lastrow {
  border-top: var(--border-base);
  margin: 0.3em;
  padding: 0.1em;
}

.rule-above {
  border-top: var(--border-base);
  padding-top: 1em;
}

hr.narrow {
  width: 70%;
  border-top: var(--border-dotted);
}

ul.tall li {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

ul.loose li,
ol.loose li {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

/* Customize checkable things (radio & checkbox labels):
   Mnemonic: "ropt" = "radio option" */
.ropt,
.rnote {
  color: #293030;
}

input:checked ~ label.ropt,
.theme_container input:checked ~ * {
  color: var(--selected-option);
}

.imbalance_control {
  padding: 0.4em 0.5em;
  background-color: var(--bg-light);
  color: var(--deep-blue);
  border: var(--border-base);
  margin-top: 0.3em;
  width: fit-content;
}

.differencemessage {
  background-color: var(--bg-pale-warning);
  text-align: center;
  border: var(--border-base);
  padding: 0.3em;
}

.differencemessage table {
  border-spacing: 0.75em 0;
  border-collapse: separate;
}

.differencemessage table th {
  padding: 0.1em 0.2em 0;
  text-align: right;
  border-bottom: 1px solid var(--dark-blue);
}

.differencemessage table td {
  padding: 0.2em;
  text-align: right;
}

.differencemessage table td.nodename {
  text-align: left;
}

.connecting_links {
  background-color: #fafaf6;
  border-top: 3px double black;
  border-bottom: 1px dotted black;
  margin-top: 1em;
} /*#C3C2BA;}*/

.connecting_links a {
  color: var(--dark-blue);
  text-decoration: underline;
}

.md-hide {
  display: inherit;
}
.md-show {
  display: none;
}
.sm-hide {
  display: inherit;
}
.sm-show {
  display: none;
}

.smol-transitions > * {
  --transition-property: transform;
  --transition-duration: 50ms;

  transition: var(--transition-property) var(--transition-duration) ease-in-out;
}

.rise img:hover {
  transform: translate(-0.05em, -0.1em);
}
.rise a img {
  box-shadow: var(--shadow-clickable);
}
.rise a img:hover {
  box-shadow: var(--shadow-hover);
}
.smaller .rise a img,
.smaller .rise a img:hover {
  box-shadow: none;
  border: 1px lightgray solid;
}

.plain-container,
.compare-container, /*  { display: flex; align-items: center; justify-content: center; } */
.compare-quarterly-container,
.compare-annual-container {
  text-align: center;
}

.plain-container svg,
.compare-container svg,
.compare-quarterly-container svg,
.compare-annual-container svg {
  pointer-events: auto;
  max-width: 100%;
  /* height: auto; */
  object-fit: contain;
}

.plain-container p,
.compare-container p,
.compare-quarterly-container p,
.compare-annual-container p {
  margin-inline: 1em;
}

.compare-quarterly-container h3,
.plain-container h3 {
  background-color: var(--bg-pale);
  padding-block: 0.5em;
  margin-block-end: 0;
}

.plain-container svg g path:hover,
.compare-container svg g path:hover,
.compare-quarterly-container svg g path:hover,
.compare-annual-container svg g path:hover {
  opacity: 0.725;
}

.thumbgrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-items: center;
  align-items: normal;
  max-width: 48em;
}

.span-grid {
  grid-column: 1 / -1;
  width: 100%;
}

.reversed-dark {
  background-color: var(--dark-blue);
  color: white;
  font-family: sans-serif;
  padding: 0.2em;
}

.smaller {
  font-size: smaller;
}

.thumbs {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.thumbgrid figure,
.thumbs figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.3em;
  margin: 0.3em;
  width: fit-content;
  background-color: var(--faint-blue);
}

.thumbgrid figcaption,
.thumbs figcaption {
  background-color: var(--hc-blue);
  color: white;
  font: smaller sans-serif;
  padding: 0.3em;
  text-align: center;
}

.thumbgrid a,
.thumbs a {
  margin-block: auto;
}

.thumbgrid figure figcaption a,
.thumbs figure figcaption a {
  color: white;
}

.smaller .thumbs figure {
  padding: 0.1em;
  margin: 0.1em;
}

.smaller .thumbs figcaption {
  padding: 0.2em;
}

sl-image-comparer {
  --divider-width: 10px;
  border: var(--border-gray);
}

sl-image-comparer::part(divider) {
  filter: drop-shadow(gray 2px 3px 5px);
}
sl-image-comparer::part(before) {
  background-color: var(--old-stuff);
}
sl-image-comparer::part(after) {
  background-color: white;
}

/* Our default iframe aspect ratio is 3 to 2.
   If this needs to be different, set up an overriding class such as
   .ar_16_9 with a max-height of some other vw-based value (ex. 56.25vw).
*/
iframe {
  overflow: hidden;
  border: none;
  /* pointer-events: visiblePainted; */
  max-width: 100vw;
  max-height: 66.6vw;
  border: var(--border-dotted);
  background-color: white;
}

.ar_9_7 {
  max-height: 77.78vw;
}
.ar_9_5 {
  max-height: 55.56vw;
}
.ar_1 {
  max-height: 100vw;
}

.thin-separator {
  border-bottom: var(--border-base);
  margin-top: 1em;
}

.years {
  align-items: end;
}

.years a {
  margin-block: 0.2em;
  padding: 0.2em 0.4em;
  font-variant-numeric: tabular-nums;
  background-color: var(--bg-light);
  color: var(--hc-blue);
  border-radius: 0.4em;
  border: var(--border-base);
  font-weight: bolder;
}

p.lateral {
  padding: 0.2em 0.5em;
  max-width: max-content;
  margin-inline: auto;
  font-variant-numeric: tabular-nums;
  background-color: white;
  border-radius: 0.4em;
  border: var(--border-dotted);
}

.years .hs-sm-vs {
  align-items: baseline;
}

#page.site h1,
#page.site h2,
#page.site h3,
#page.site h4,
#manual_main h4 {
  text-align: start;
  color: var(--hc-blue);
}

#page.site .posted-on a {
  font-weight: bolder;
  color: var(--hc-blue);
  font-size: larger;
}

#page.site .site-main > article {
  padding-top: 1.2em;
  padding-bottom: 2em;
  border-bottom: var(--border-dotted-thick);
  margin-bottom: 1.5em;
}

#page.site .site-header-main {
  justify-content: center;
}

#page.site .site-branding .site-title a {
  color: var(--dark-blue);
}

#page.site header.site-header {
  background-color: var(--pale-blue-1);
}

#page.site .sidebar {
  margin-top: 2em;
}

details {
  margin-block-start: 0.25em;
  margin-block-end: 0.5em;
  margin-inline: 0.5em;
}

details > summary {
  padding: 0.25em 0.5em;
  cursor: pointer;
  border: var(--border-dotted);
}

details > div {
  padding-inline: 0.5em;
  border: var(--border-light);
  border-top: none;
}

details.older {
  background-color: var(--old-stuff);
  border: var(--border-dotted);
}

.size900 {
  max-width: min(960px, 100%);
  width: fit-content;
  min-width: 50%;
}

.makeyourown {
  font-size: smaller;
  padding: 0.2em 0.5em;
  margin-inline: auto;
}

.makeyourown a {
  background-color: var(--bg-light);
  padding: 0.2em 0.5em;
  border-radius: 0.4em;
  border: var(--border-dotted);
}

nav.edit-with-skm {
  font-family: sans-serif;
  font-size: smaller;
  text-align: right;
  padding: 0.6em 0.2em;
  margin: 0;
  background-color: var(--gray90);
  color: white;
}

nav.edit-with-skm a {
  background-color: var(--hc-blue);
  color: white;
  padding: 0.4em 0.6em 0.4em 0.8em;
  margin-block-start: 0.2em;
  margin-inline: 1em;
  border-radius: 0.4em;
  border: 0.05em var(--lighter-blue) solid;
}

nav.edit-with-skm a:hover {
  background-color: var(--main-blue);
}

.diagramnotes {
  margin-block: 1em;
}

.skm-name {
  font-weight: bold;
}

/*   --screen-md: 1024px; */
@media screen and (max-width: 1024px) {
  .footer__nav {
    padding-left: 0;
    margin-top: 1em;
  }
  .footer__content {
    text-align: center;
  }
  .footer__nav ul {
    margin: 0 0.75em;
  }

  .hs-md-vs {
    flex-direction: column;
  }

  .md-hide {
    display: none;
  }
  .md-show {
    display: inherit;
  }

  .f-gap {
    gap: 0.3em;
  }
  .f-gap-lg {
    gap: 0.8em;
  }

  img,
  figure {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .topic-index {
    column-count: 1;
  }
}

/*   --screen-sm: 675px; */
@media screen and (max-width: 675px) {
  .hs-sm-vs {
    flex-direction: column;
  }
  .vs-sm-hs {
    flex-direction: row;
  }

  .years .hs-sm-vs {
    align-items: center;
  }

  .tall-lines {
    line-height: 1.4;
  }

  .paras {
    max-width: 90%;
  }
  .buffet {
    max-width: 96%;
  }
  .divider {
    margin: 1em 0.5em;
  }

  .header__links {
    margin-top: 0.75em;
    margin-bottom: 0;
  }

  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
  }

  #privacy_main,
  #manual_main {
    margin: 1em;
  }
  #manual_main h2 {
    font-size: 1.3em;
  }
  .manual-panel {
    place-self: auto;
  }

  .home__intro--text,
  .intro {
    padding-inline: 0.5em;
  }

  .home__intro--text p,
  .home__intro--text li,
  .intro p,
  .features_intro--text p {
    font-size: 1.15em;
  }

  .header__links .try-link {
    display: none;
  }

  .home__intro .try-link,
  .final__cta .try-link {
    font-size: 1.4em;
  }

  .footer__nav ul li {
    margin: 0.3em;
  }

  .sm-hide {
    display: none;
  }
  .sm-show {
    display: inherit;
  }
}

/*   --screen-tiny: 470px; */
@media screen and (max-width: 470px) {
  .hs-tiny-vs {
    flex-direction: column;
  }

  .paras {
    max-width: 95%;
  }
  .divider {
    margin: 0.75em 0.5em;
  }

  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.2em;
  }

  .glry-panel div.txt {
    margin: 0.5em;
  }
  .glry-panel div.f-img {
    margin: 0;
  }
  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  /*
  .glry-panel p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
 */
}

/*
@media (prefers-color-scheme: dark){
  body{
    background-color: var(--bg-dark);
    color: var(--lighter-gray);
  }

  .header__links a { color: var(--lighter-gray); }
  .header__links .try-link { color: var(--black); }
  .home__intro .cta span { color: var(--light-gray); }


  .footer { color: var(--pale-blue-1); }
  .footer a { color: var(--light-gray); }
  .home__intro--text,
  .footer a:hover { color: var(--white); }
  .footer { background-color: var(--nav-level-1-bg); }
}
*/
